@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    transition: 0.6s;
}

*{
    transition: 0.6s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    transition: 0.3;
    background-color: #F8F8FB; 
    flex-direction: column;
    display: flex;
    align-items: center;
}

img , p{
    user-select: none;
}

